.contact-container {
    .row {
        padding: 2rem;
        .contact-links {
            display: grid;
            grid-template-columns: repeat(2, 3fr);
            background-color: $bg-lightgrey;
            gap: 1rem;
            text-align: center;
            padding: 2rem;
            .social {

            }
        }
        .contact-map {
            background-color: $bg-lightgrey;
        }
    }
}