.contact-container {
  .row {
    padding: 2rem;
    .contact-links {
      display: grid;
      grid-template-columns: repeat(2, 3fr);
      background-color: $bg-lightgrey;
      gap: 1rem;
      text-align: center;
      padding: 2rem;
      a,
      i {
        color: $yellow !important;
        &:hover {
          color: $bg-darkgrey !important;
        }
      }
      #tel {
        color: $yellow !important;
        cursor: pointer;
      }
      i,
      #tel {
        &:hover {
          -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
        }
      }
    }
    .contact-map {
      background-color: $bg-lightgrey;
      align-items: center;
      padding: 0 !important;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
