header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $bg-grey;
  .header-col {
    text-align: center;
    nav {
      gap: .5rem;
      button {
        background-color: $bg-darkgrey;
        border: 1px $bg-darkgrey solid;
        border-radius: 15px;
        margin: 5px 0 5px 0;
        color: $yellow;
        transition: 0.3s;
        &:hover {
          background-color: $yellow;
          color: $bg-darkgrey;
          -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
      }
    }
    &.id-container {
      display: flex;
      flex-direction: row;
      h2 {
        margin-left: 1rem;
      }
    }
  }
}
@media (max-width: 1395px) {
  header {
    .nav {
      display: grid;
      justify-content: center !important;
      grid-template-columns: repeat(2, 1fr);
    }
    h2 {
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  header {
    h2,
    h1 {
      font-size: 150%;
      margin-bottom: 1rem;
    }
  }
}
