header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $bg-grey;
  .row {
    .header-col {
      &.id-container {
        display: flex;
        flex-direction: row;
        h2 {
          margin-left: 1rem;
        }
      }
      text-align: center;
      .navbar {
        display: flex;
        justify-content: space-evenly;
        ul {
          display: flex !important;
          flex-direction: row !important;
          li {
            > a {
              padding : .2rem;
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
}
@media (min-width: 768px)
 {
  .navbar{
    flex-direction: column;

  }
}
@media (min-width: 992px) {
  .navbar{
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .navbar{
    flex-direction: column;
  }
}