.homepage {
  .row {
    justify-content: space-evenly;
    .homepage-section {
      background-color: $bg-lightgrey;
      border: 1px $bg-darkgrey solid;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      max-width: 48vw;
      border-radius: 15px;
      padding-top: 1rem;
      .text-homepage {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      .img-homepage {
        display: flex;
        justify-content: space-around;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .cards-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      min-height: fit-content;
      padding: 1rem;
      .card {
        background-color: $yellow;
        height: fit-content;
        max-width: 100%;
        margin: auto;
        &:hover {
          -webkit-animation: flip-vertical-right 0.6s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: flip-vertical-right 0.6s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
        img {
          margin: auto;
          max-width: fit-content;
          max-height: fit-content;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .homepage-section {
    min-width: 99vw !important;
    height: fit-content !important;
  }
}
