.homepage {
  .row {
    justify-content: space-evenly;
    .homepage-section {
      background-color: $bg-lightgrey;
      border: 1px $bg-darkgrey solid;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      max-width: 48vw;
      height: 100vh;
      border-radius: 15px;
      padding-top: 1rem;
      .text-homepage {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      .img-homepage {
        display: flex;
        justify-content: space-around;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width:900px) {
  .homepage-section {
    min-width: 99vw !important;
    height: fit-content !important;
  }
}