.homepage_main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  section {
    display: flex;
    padding: 20px;
    margin: 1rem;
    background-color: $bg-lightgrey;
    height: 76vh;
    align-items: center;
    flex-direction: column;
    width: 49vw;
    p {
        padding: 2rem;
    }
    .card {
        height: 60px;
        width: 80px;
        border: 1px black solid;
        background-color: $bg-darkgrey;
    }
  }
}
