/* Base imports */
@import "variables/reset";
@import "variables/fonts";
@import "variables/colors";

@import "layout";
@import "header";
@import "footer";

@import "homepage";
@import "about";
@import "objectives";

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}