.admin_buttons {
  justify-content: space-evenly;
  .cockpit {
    background-color: $yellow;
    height: 40vh;
    margin: 15px;
    cursor: pointer;
    text-align: center;
    display: flex;
    &:hover {
      -webkit-animation: shadow-inset-center 0.4s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
    h3 {
      font-size: 2rem;
      margin: auto;
    }
  }
}
